  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img id="logo1" src="../../../assets/Ativo_1.svg" alt="Logo">
      </a>
    </div>

    <div class="center-logo">
      <a routerLink="/">
        <img id="logo2" src="../../../assets/Ativo_2.svg" alt="Logo">
      </a>
    </div>

    <ul class="links">
      <li>
        <a routerLink="/">Feed</a>
      </li>
      <li id="add">
        <a routerLink="/moments/new">Compartilhar</a>
      </li>
      <li>
        <a routerLink="/about">Sobre</a>
      </li>
    </ul>
  </nav>

