nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: #0D0D0D;
  }

  .navbar-brand,
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9FA3A6;
  }

  .navbar-brand #logo1{
    width: 18px;
    margin-right: 0.4em;
  }



  .center-logo #logo2{
    width: 200px;
    margin-left: 13em;
  }

  .navbar-brand h2 {
    transition: 0.4s;
  }

  .navbar-brand:hover {
    color: #D7F205;
  }

  .links li {
    margin-right: 1em;
    list-style: none;
  }

  .links a {
    padding: 0.1em 0.3em;
    color: #9FA3A6;
  }

  .links a:hover {
    color: #D7F205;
  }

  #add a {
    color: #D7F205;
    font-weight: bold;
  }

  #add a:hover {
    background-color: #9FA3A6;
  }
